<h5 class="totalUniqueVisitors"><em><%= results.get('totalUniqueVisitors') %></em> Total Unique Visitors</h5>
<h5 class="todaysUniqueVisitors"><em><%= results.get('todaysUniqueVisitors') %></em> Visitors Today</h5>