<h5><strong>Step 1:</strong><br>
<%- "Log into your Account at" %> <a href="http://www.google.com/analytics/" target="_blank"><%- "Google Analytics." %></a></h5>

<h5><strong>Step 2:</strong><br>
<%- "Click the button below to authorize Hoverlytics to use your Analytics account." %></h5>